{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}
    

<div class="container">
    <h1 class="mt-4">Cadastro de Filme</h1>
    <form method="post">
        {% csrf_token %}
        
        <!-- <div class="mb-3">
            <label for="{{ form.nome.id_for_label }}" class="form-label">Titulo:</label>
            <input type="text" class="form-control" id="nome" name="'nome"   placeholder="digite o título do filme aqui..." required>
 
        </div>
             <div class="mb-3">
                 <label for="{{ form.genero.id_for_label }}" class="'form-label">Gênero</label>
                 <select class="form-control" id="genero" name="genero" required>
                     <option value=""disabled selected>Selecione o gênero</option>
                     <option value="acao">Ação</option>
                     <option value="comedia">Comedia</option>
                     <option value="ficcao">Ficção</option>
                     <option value="terror">Terror</option>
                     <option value="suspense">Suspense</option>
                 </select>
             </div>
             <div class="mb-3">
                 <label for = "{{ form.ano_lancamento.id_for_label }}" class="form-label">Ano de Lançamento</label>
                 
                 <input type="number" class="form-control" id="ano_lancamento" name="ano_lancamento"  min="1900" max="2100" step="1" value="2023" required>
                 
             </div>
     
             <div class="mb-3">
                 <label for="{{ form.sinopse.id_for_label }}" class="form-label">Sinopse</label>
                 <textarea class="form-control" id="Sinopse" name="Sinopse" rows="5" required></textarea>
                
             </div>
              -->
             
              {% for field in form.visible_fields %}

              <div class="mb-3">

                  <label class="form-label" for ='{{field.id_for_label}}'>{{field.label}}</label>
                  {{field}}
                  
            </div>
                  
                {% endfor %}
                  

        <div class="d-grid gap-2 d-md-flex justify-content-md-center"><!--Botões do form-->
            <button type="submit" class="btn btn-primary btn-sm">Cadastrar</button>
            <button type="reset" class="btn btn-danger btn-sm">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}