{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}
    
    
    
  <div class="container">
     
        <h1 class="titulo">  Lista de Filmes</h1>
        <table class="table table-striped">
          <thead>
            
              <th>#</th>
              <th>Titulo</th>
              <th>Ano de Lançamento</th>
              <th>Sinopse</th>
              <th>Gênero</th>
              <th>Capa</th>
              
          </thead>
          <tbody>
                {%for filme in filmes %}
              <tr>
              <td>{{filme.id_filme}}</td>
              <td>{{filme.nome}}</td>
              <td>{{filme.ano_lancamento}}</td>
              <td>{{filme.Sinopse}}</td>
              <td>{{filme.genero}}</td>
              <td><img src="{{filme.capa}}" alt="Imagem" width="100"></td>
              
            </tr>
            {% endfor %}
          
          </tbody>
        </table>
  </div>
{% endblock %}