{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block content %}
    

<div class="container">
    <h1 class="mt-4">Login</h1>
    <form action ="{% url 'cadastro_usuarios:login'%}" method="POST">
        {% csrf_token %}

        <input type="text" placeholder="Username" name="username">
        <br>
        
        <br>
        <input type="password" placeholder="senha" name="senha">
        

       
                  

        <div class="d-grid gap-2 d-md-flex justify-content-md-center"><!--Botões do form-->
            <button type="submit" class="btn btn-primary btn-sm">Logar</button>
            
        </div>
    </form>
</div>
{% endblock %}